<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- scan the package and the sub package -->
    <context:component-scan base-package="com.qtu404"/>

    <!-- don't handle the static resource -->
    <mvc:default-servlet-handler/>

    <!-- if you use annotation you must configure following setting -->
    <mvc:annotation-driven/>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"
          p:defaultEncoding="UTF-8">
    </bean>

    <bean id="logger" class="com.qtu404.common.aop.Logger"/>
    <aop:config>

        <!--用户操作日志-->
        <aop:aspect id="userLog" ref="logger">
            <aop:pointcut id="userPointcut"
                          expression="execution(* com.qtu404.user.controller.UserController.*(..))"/>
            <aop:after method="saveLog" pointcut-ref="userPointcut"/>
        </aop:aspect>

        <!--幻灯片操作日志-->
        <aop:aspect id="slideLog" ref="logger">
            <aop:pointcut id="slidePointcut"
                          expression="execution(* com.qtu404.slide.controller.SlideController.*(..))"/>
            <aop:after method="saveLog" pointcut-ref="slidePointcut"/>
        </aop:aspect>

        <!--文件操作日志-->
        <aop:aspect id="fileLog" ref="logger">
            <aop:pointcut id="filePointcut"
                          expression="execution(* com.qtu404.slide.controller.FileController.*(..))"/>
            <aop:after method="saveLog" pointcut-ref="filePointcut"/>
        </aop:aspect>

        <!--文件夹作日志-->
        <aop:aspect id="folderLog" ref="logger">
            <aop:pointcut id="folderPointcut"
                          expression="execution(* com.qtu404.folder.controller.FolderController.*(..))"/>
            <aop:after method="saveLog" pointcut-ref="folderPointcut"/>
        </aop:aspect>
    </aop:config>

    <!-- configure the InternalResourceViewResolver -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"
          id="internalResourceViewResolver">
        <!-- 前缀 -->
        <property name="prefix" value="/"/>
        <!-- 后缀 -->
        <property name="suffix" value=".html"/>
    </bean>
</beans>