<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtu404.mapper.folderMapper">
    <insert id="save" parameterType="com.qtu404.folder.domain.Folder">
        INSERT INTO folder (folder_name, folder_parent)
        VALUE (#{folderName}, #{parent})
        <selectKey keyProperty="folderId" resultType="int" order="AFTER">
            select last_insert_id() as folderId
        </selectKey>
    </insert>

    <update id="modify" parameterType="com.qtu404.folder.domain.Folder">
        UPDATE folder
        SET folder_name = #{folderName}, folder_parent = #{parent}
        WHERE folder_id = #{folderId}
    </update>

    <delete id="delete" parameterType="com.qtu404.folder.domain.Folder">
        DELETE FROM folder
        WHERE folder_id = #{folderId}
    </delete>

    <select id="fetchById" resultMap="folderResult" parameterType="int">
        SELECT
            f.*,
            c.folder_name AS child_folder_name,
            c.folder_id   AS child_folder_id,
            s.folder_id   AS slide_folder_id,
            s.`name`,
            s.slideId,
            s.`exit`
        FROM
            folder f
            LEFT OUTER JOIN slides s ON f.folder_id = s.folder_id
            LEFT OUTER JOIN folder c ON f.folder_id = c.folder_parent
        WHERE
            f.folder_id = #{id}
    </select>

    <select id="findChild" parameterType="int" resultMap="folderNode">
        SELECT *
        FROM
            folder f
        WHERE
            f.folder_parent = #{id}
    </select>

    <resultMap id="folderResult" type="com.qtu404.folder.domain.Folder">
        <id property="folderId" column="folder_id"/>
        <result property="folderName" column="folder_name"/>
        <result property="parent" column="folder_parent"/>
        <collection property="child" resultMap="childResult"/>
        <collection property="slideVos" resultMap="slideResult"/>
    </resultMap>

    <resultMap id="folderNode" type="com.qtu404.folder.domain.Folder">
        <id property="folderId" column="folder_id"/>
        <result property="folderName" column="folder_name"/>
        <result property="parent" column="folder_parent"/>
    </resultMap>

    <resultMap id="childResult" type="com.qtu404.folder.domain.Folder">
        <id property="folderId" column="child_folder_id"/>
        <result property="folderName" column="child_folder_name"/>
        <result property="parent" column="folder_id"/>
    </resultMap>

    <resultMap id="slideResult" type="com.qtu404.slide.domain.SlideVo">
        <id property="slideId" column="slideId"/>
        <result property="name" column="name"/>
        <result property="exit" column="exit"/>
        <result property="folderId" column="slide_folder_id"/>
    </resultMap>
</mapper>