<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtu404.question.dao.QuestionDao">

    <resultMap id="publishResult" type="com.qtu404.publish.domain.Publish">
        <id property="publishId" column="publish_id"/>
        <result property="questionId" column="question_id"/>
        <result property="time" column="time"/>
    </resultMap>

    <insert id="save" parameterType="com.qtu404.question.domain.Question">
        insert into question(user_id,description,original_answer)
        values(#{userId},#{description},#{originalAnswer})
        <selectKey keyProperty="questionId" resultType="int" order="AFTER">
            select last_insert_id() as questionId
        </selectKey>
    </insert>

    <update id="modify" parameterType="com.qtu404.question.domain.Question">
        UPDATE question
        SET question.user_id         = #{userId}, question.description = #{description},
            question.original_answer = #{originalAnswer}
        WHERE question.question_id = #{questionId}
    </update>

    <delete id="delete" parameterType="com.qtu404.question.domain.Question">
        DELETE FROM question
        WHERE question_id = #{questionId}
    </delete>

    <select id="findAll" parameterType="int" resultMap="questionResult">
        SELECT *
        FROM `question` q LEFT OUTER JOIN `option` o ON q.question_id = o.question_id
        WHERE user_id = #{userId}
        ORDER BY q.question_id
    </select>


    <select id="findByDescription" parameterType="com.qtu404.question.domain.Question" resultMap="questionResult">
        SELECT *
        FROM
            question q
        WHERE
            q.description LIKE #{description}
        ORDER BY
            q.question_id
            AND q.question_id = #{userId}
    </select>

    <resultMap id="questionResult" type="com.qtu404.question.domain.Question">
        <id property="questionId" column="question_id"></id>
        <result property="userId" column="user_id"></result>
        <result property="description" column="description"></result>
        <result property="originalAnswer" column="original_answer"></result>
        <collection property="optionList" resultMap="optionList">
        </collection>
    </resultMap>
    <resultMap id="optionList" type="com.qtu404.option.domain.Option">
        <id property="optionId" column="option_id"></id>
        <result property="questionId" column="question_id"></result>
        <result property="content" column="content"></result>
    </resultMap>

    <select id="fetchById" parameterType="int" resultMap="questionResult">
        SELECT *
        FROM `question` q LEFT OUTER JOIN `option` o ON q.question_id = o.question_id
        WHERE q.question_id = #{Id}
    </select>
</mapper>

