<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtu404.answer.dao.ViewStatisticsDao">
    <resultMap id="FullMap" type="com.qtu404.statistics.domain.ViewStatistics">
        <id column="id" property="id"/>
        <result column="identify" property="identify"/>
        <result column="total_time" property="totalTime"/>
        <result column="exit_times" property="exitTimes"/>
        <result column="attendance_id" property="attendanceId"/>
    </resultMap>
    <sql id="tb">view_statistics</sql>
    <sql id="cols_all">id,
        <include refid="cols_exclude_id"/>
    </sql>
    <sql id="cols_exclude_id">identify,total_time,exit_times,attendance_id</sql>
    <sql id="vals">#{identify},#{totalTime},#{exitTimes},#{attendanceId}</sql>
    <sql id="listVals">#{item.identify},#{item.totalTime},#{item.exitTimes},#{item.attendanceId}</sql>
    <sql id="criteria">
        <if test="identify != null">AND identify = #{identify}</if>
        <if test="totalTime != null">AND total_time = #{totalTime}</if>
        <if test="exitTimes != null">AND exit_times = #{exitTimes}</if>
        <if test="attendanceId != null">AND attendance_id = #{attendanceId}</if>
    </sql>
    <sql id="paging">
        <if test="offset != null">LIMIT #{offset},#{limit}</if>
    </sql>
    <insert id="save" keyProperty="id" parameterType="com.qtu404.statistics.domain.ViewStatistics" useGeneratedKeys="true">
        INSERT INTO <include refid="tb"/> (<include refid="cols_exclude_id"/>) VALUES (<include
        refid="vals"/>)
    </insert>
    <insert id="saves" keyProperty="id" parameterType="java.util.List" useGeneratedKeys="true">
        INSERT INTO <include refid="tb"/> (<include refid="cols_exclude_id"/>) VALUES <foreach
        collection="list" item="item" index="index" separator=",">
        (<include refid="listVals"/>)
        </foreach>
    </insert>
    <delete id="remove" parameterType="java.lang.Long">
        DELETE FROM
        <include refid="tb"/>
        WHERE id = #{id}
    </delete>
    <delete id="removes" parameterType="java.util.List">
        DELETE FROM
        <include refid="tb"/>
        WHERE
        <foreach collection="list" item="ids" separator="OR">
        id = #{ids}
        </foreach>
    </delete>
    <update id="modify" parameterType="com.qtu404.statistics.domain.ViewStatistics">
        UPDATE
        <include refid="tb"/><set>
        <if test="identify != null">identify = #{identify},</if>
        <if test="totalTime != null">total_time = #{totalTime},</if>
        <if test="exitTimes != null">exit_times = #{exitTimes},</if>
        <if test="attendanceId != null">attendance_id = #{attendanceId},</if>
    </set>
        WHERE id=#{id}
    </update>
    <select id="fetchById" parameterType="java.lang.Long" resultMap="FullMap">
        SELECT
        <include refid="cols_all"/>
        FROM
        <include refid="tb"/>
        WHERE id = #{id}
    </select>
    <select id="fetchByIds" parameterType="java.util.List" resultMap="FullMap">
        SELECT
        <include refid="cols_all"/>
        FROM
        <include refid="tb"/>
        WHERE id IN
        <foreach item="id" collection="list" open="(" separator="," close=")">
        #{id}
        </foreach>
    </select>
    <select id="listAll" resultMap="FullMap">
        SELECT
        <include refid="cols_all"/>
        FROM
        <include refid="tb"/>
    </select>
    <select id="listCriteria" parameterType="java.util.Map" resultMap="FullMap">SELECT
        <include refid="cols_all"/>
        FROM
        <include refid="tb"/>
        WHERE TRUE
        <include refid="criteria"/>
        ORDER BY total_time DESC
        <include refid="paging"/>
    </select>
    <select id="count" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT count(1)
        FROM
        <include refid="tb"/>
        WHERE TRUE
        <include refid="criteria"/>
    </select>
</mapper>
