body {
    display: block;
    margin: 0;
}
#avator-header{
    /*上传PPT页面-头部__文字*/
    background: #0078d7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2em;
    padding-right: 2em;
    height: 4em;
    margin-bottom: 8em;
}
.avator-header__font{
    /*修改头像页面-头部__文字*/
    font-size: 1.5em;
    color: #ffff;
}
.btn-upload {
    /*PPT上传按钮*/
    display: flex;
    justify-content: center;
    align-items: center;
    background: #426fcd;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    overflow: hidden;
    color: #ffffff;
    font-size: 1.5em;
    margin: 0 auto;
    height: 50px;
    width: 200px
}
.btn-upload:hover{
    /*头像上传按钮*/
    background: #519fcd;
    border-color: #78C3F3;
    text-decoration: none;
    cursor: pointer;
}
.jconfirm-cell{
    margin-top: 15em;
}
.upload-pxtt-font{
    text-align: center;
    color: #ccc;
}
/*.jconfirm-holder{*/
    /*!*PPTX文件上传中-提示框*!*/
    /*margin: 0 auto;*/
    /*text-align: center;*/
    /*width: 50%;*/
/*}*/
.jconfirm-box-container{
    margin: 0 auto;
}
button{
    /*上传时提示框下方的按钮*/
    background: #519fcd;
    border-radius: 10px;
    border: 1px solid #99D3F5;
    border-color: #107fca7d;
    padding: 0.5em 1em .5em 1em;
    margin: .5em;
    color: #ffffff;
    cursor: pointer;
}