html{
    background-color: #f0f0f0;
}
body{
    background-color: transparent;
}
.nf4-question__navbar{
    /* 导航栏 */
    background-color: #1890ff;
}

.layout-container{
    background-color: transparent;
    display:flex;
    justify-content: center;
    padding:0;
}
.nf4-main{
    /* 页面主区域 */
    height:auto;
    width:100%;
    max-width: 62.5em;
    background-color:#ffff;
    border: 1px solid#dadada;
    margin-top:1em;
    margin-bottom: 1em;
    padding-top:4em;
    padding-bottom:4em;
    padding-left:1em;
    padding-right:1em;
}
.question-block{
    /* 问题块 */
    margin-left:auto;
    margin-right:auto;
    max-width: 45em;   
}
.question-flow > .question-block:not(:first-of-type){
    margin-top:0.5em;
}
.question-title{
    /* 问题标题 */
    font-weight: 600;
    font-size:1.25em;
}
.question-split{
    /* 问题分隔符 */
    margin: 0.5em 0;
}
.option-item{
    /* 选项-条目 */
    height:auto;
    display:flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-top:0.5em;
    margin-bottom:0.5em;
}
.option-item:hover{
    background-color: #f1f0f0;
    cursor: pointer;
}
.option-item__check-box{
    /* 选项-选择框 */
    margin-right:0.3em;
}
.option-item__text{
    /* 选项-文字 */
    font-size: 1.2em;
}
.check-box__icon{
    /* 单选未选中图标 */
    color: #000000;
}
.check-box__icon-checked{
    /* 单选未选中图标 */
    color: #1890ff;
}
.control{
    /* 控制区域 */
    width:100%;
    display:flex;
    margin-top:2.5em;
}
.control__submit{
    /* 控制区域__按钮-提交 */
    display:flex;
    margin:0 auto;
}
.control__submit-button{
    /* 控制区域__按钮 */
    background-color: #1890ff;
    width:6em;
}